/**
 * Main App scss file
 */

// import bryntum theme and example styles
@import '~@bryntum/demo-resources/scss/example.scss';

.b-gantt {
    > .b-toolbar {
        border-bottom : 1px solid;

        > .b-content-element {
            > .b-widget:not(.b-last-visible-child) {
                margin-right : 1em;
            }

            .b-button {
                min-width : 3.5em;
            }
        }
    }
}

.filter-by-name label {
    display : none;
}

.b-theme-stockholm .b-gantt > .b-toolbar {
    border-bottom-color : #d8d9da;
}

.b-theme-classic .b-gantt > .b-toolbar {
    background-color    : #f1f1f4;
    border-bottom-color : #b0b0b6;

    .b-has-label label {
        color : #555;
    }
}

.b-theme-classic-light .b-gantt > .b-toolbar {
    background-color    : #fff;
    border-bottom-color : #e0e0e0;
}

.b-theme-material .b-gantt > .b-toolbar {
    background-color : #fff;
    border-bottom    : none;

    .filter-by-name label {
        display : block;
    }
}

.b-theme-classic-dark .b-gantt > .b-toolbar {
    background-color    : #2b2b2f;
    border-bottom-color : #2a2b2e;
}

.b-status-column-cell {
    font-size       : 0.8em;
}

.b-status-column-cell i::before {
    margin-right : .5em;
}

.Started {
    color : #bbb;
}

.Late {
    color : #ff5722;
}

.Completed {
    color : #34d844;
}

.settings-menu .b-slider {
    margin-bottom: 0.5em;
}

.visum-header {
    display          : flex;
    flex-shrink      : 0;
    align-items      : center;
    padding          : 1em;
    transition       : background-color .5s, padding .5s, font-size .1s;
    background-color : #2667c8;
    color            : #fff !important;

    .b-button,
    .b-has-label label {
        color : #fff !important;
    }

    a {
        color           : #fff !important;
        text-decoration : none;
    }

    #title-container {
        display     : inline-flex;
        align-items : center;
        flex        : 1
    }

    #title {
        display               : inline-flex;
        align-items           : center;
        padding-left          : 2.1em;
        font-size             : 1.3em;
        line-height           : 1.6em;
        background-image      : url(/favicon.png);
        background-size       : contain;
        background-repeat     : no-repeat;
        background-position-y : center;
        white-space           : nowrap;
    }

    .b-theme-combo {
        margin-right : 0.6em;
    }

    #tools {
        display          : flex;
        align-items      : center;
        background-color : inherit;
        transition       : background-color 0s, margin-top .3s;

        .b-widget {
            font-size   : 1em;
            font-weight : 400;
        }

        > .b-widget:not([data-group]) {
            margin-left : .5em;
            display     : inline-flex;
        }

        .b-button {
            color       : #fff;
            margin-left : .5em;
            border      : 0 none;
        }

        .b-button:hover:not(.b-disabled) {
            background-color : rgba(255, 255, 255, 0.3);
        }

        .b-field {
            margin-right : 0;
        }

        .b-numberfield {
            width : 18em;
        }
    }

    .b-has-label.b-bright:not(.b-disabled) label {
        color : #fff;
    }
}
